<h1> Add New Friends </h1>

 <% if @users.present? %>
  <ul>
   	<% @users.each do |user| %>
   	 <% if user.id != current_user.id %>
      <li> 
        <%=link_to image_tag(user.profile_picture_url), show_other_user_user_path(user) %>
        <p>
          <strong><%= link_to user.name, show_other_user_user_path(user) %></strong>
          
          <% unless ((current_user.friends.include? user) || (current_user.pending_friends.include? user) || (current_user.requested_friends.include? user)) %>
            &mdash;
            <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
          <% end %> 
        </p>   
      </li>	
      <hr> 
     <% end %>
    <% end %>
  </ul> 
 <% else %>
 	No other users. 		
 <% end %>

<%= link_to 'Back to home', root_path %>
